ion-content{
  --background: linear-gradient(0deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.3)),
   url(../../assets/img/camera.jpeg) no-repeat center center / cover;
}

.login-section{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
