ion-content{
  --background: linear-gradient(0deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.3)),
   url(../../assets/img/camera.jpeg) no-repeat center center / cover;
}

.login-section{
  height: 74vh;
  width: 100%;
  max-width: 500px;
  background: #fff;
  right: 0;

}

