ion-content{
  --background: linear-gradient(0deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.3)),
   url(../../assets/img/camera.jpeg) no-repeat center center / cover;
}

.login-section{
  //position: absolute;
  height: 74vh;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}

